:root {
    --primary-color: #6a91e7;
    --secondary-color: #bacdf7;
    --background-color: #ffffff;
    --foreground-color: #2b2c33;

    --gradient-color-competence: linear-gradient(90deg, #ebc19f, #ecac77);
    --gradient-color-project: linear-gradient(90deg, #a9e0ad, #50d697);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #173064;
        --secondary-color: #4a5b83;
        --background-color: #0c141b;
        --foreground-color: #E0E1DD;
        
        --gradient-color-competence: linear-gradient(90deg, #7c6654, #694c34);
        --gradient-color-project: linear-gradient(90deg, #608062, #286d4d);
    }
}

@font-face {
    font-family: "Robik";
    src: url("Rubik-VariableFont_wght.woff2");
}

body{
    margin: 0;
    font-family: "Robik";
    background-color: var(--background-color);
    color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    animation: startAnimation 1s;
}

@keyframes startAnimation {
    from{opacity: 0;}
    to{opacity: 1;}
}

.main_section{
    height: 100vh;
    text-align: left;
}

/* Override element style */

h2{
    margin: 2em 0px 2em 0;
}

hr{
    background-color: var(--foreground-color);
    height: 1px;
    border: none;
}

/* Other */

.up_scroll{
    position: fixed;
    background-color: var(--foreground-color);
    bottom: 1em;
    right: 1em;
    padding: 7px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.up_scroll img{
    width: 30px;
    filter: brightness(15);
}

@media (prefers-color-scheme: dark) {
    .up_scroll img{
        filter: none;
    }
}