/* --- background --- */

.competence_background .bloc{
    background: var(--gradient-color-competence);
}

.project_background .bloc{
    background: var(--gradient-color-project);
}

/* --- Bloc system --- */

.list_bloc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    gap: 1em;
}

.bloc{
    max-width: 350px;
    width: 82%;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 3px 3px 4px gray;
}

.bloc h3{
    margin: 0;
    margin-bottom: 8px;
}

.bloc .bloc_button{
    display: inline-block;
    padding: 5px;
    border: 2px solid var(--foreground-color);
    color: var(--foreground-color);
    border-radius: 1em;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    font-family: "Robik";
}

.bloc .bloc_button:hover{
    background-color: var(--background-color);
    color: var(--foreground-color);
}

.bloc .bloc_img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    border-radius: 8px;
    padding: 5px;
    background-color: white;
}

/* --- Home page --- */

.main_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profil{
    background: linear-gradient(90deg,var(--secondary-color), var(--primary-color));
    padding: 1em;
    border-radius: 1em;
    max-width: 750px;
    width: 82%;
    box-shadow: 6px 6px 8px gray;
    margin-bottom: 2em;
}

.profil_title{
    display: flex;
    gap: 1em;
    margin-bottom: 15px;
}

.profil_title img{
    width: 80px;
    height: 80px;
    border-radius: 1em;
}

.social_list{
    display: flex;
    gap: 1em;
}

.social_list img{
    height: 25px;
    filter: brightness(0);
}

.link_email{
    font-weight: bold;
    color: var(--foreground-color);
}

.scroll_indication{
    position: absolute;
    bottom: 1em;
    text-align: center;
    cursor: pointer;
}

.scroll_indication img{
    width: 30px;
    position: relative;
    animation: arrow_arrow_animation 2s infinite;
}

@keyframes arrow_arrow_animation {
    0%   {top: 0;}
    50%  {top: 0;}
    75%  {top: 12px;}
    100% {top: 0;}
}

@media (prefers-color-scheme: dark) {
    .profil, .bloc{
        box-shadow: 0 0 0;
    }
    .social_list img, .scroll_indication img{
        filter: brightness(15);
    }
    .link_email{
        color: var(--foreground-color);
    }
}

/* --- Mes compétences page --- */

.list_competence{
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.competence{
    display: flex;
    align-items: center;
    gap: 1em;
}

.competence p {
    margin: 0;
    font-weight: bold;
}

.language{
    width: max-content;
    max-width: none;
    margin-top: 2em;
}

.language .list_langage {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.language .list_langage p {
    margin: 0;
}

/* --- Mes projets --- */

.title_project{
    display: flex;
    align-items: center;
    gap: 9px;
}

.title_project h3 {
    margin: 0;
}